body {
    background-color: #91B490;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #55c57a;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #7ed56f, #28b485);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #91B490;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #91B490;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

/*<!----------Login styles--------------->*/
.login_header {
    text-align: center;
    padding: 2rem 0;
    font-size: 30px;
    font-family: monospace;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.login_label {
    letter-spacing: 0.03em;
    color: rgb(129, 129, 129);
    font-size: 15px;
}

.row input {
    border-bottom: 2px solid #818181 !important;
    width: 100% !important;
    border-top: hidden !important;
    border-right: hidden !important;
    border-left: hidden !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.submit_details {
    margin-right: auto !important;
    margin-left: auto !important;

}

.submit_details button {
    padding: 1rem;
    margin-top: 1rem;
    /*width: 20vw;*/
    background: #7ed56f;

}

@media screen and (min-width: 906px) {
    .submit_details button {
        /*padding: 1rem;*/
        /*margin-top: 1rem;*/
        /*width: 20vw;*/
        /*background: #7ed56f;*/
        margin-left: 22rem;
    }
}
@media screen and (min-width: 589px) {
    .submit_details button {
        padding: 1rem;
        margin-top: 1rem;
        width: 20vw;
        background: #7ed56f;
    }
}


@media screen and (min-width: 950px) {
    .register small {
        margin-left: 22rem;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .forgot_password a{
        width: 28.5vw;
    }
}

@media screen and (min-width: 909px) and (max-width: 949px) {
    .register small{
        margin-left: 23rem;
    }
}
.register small {
    font-size: 10px;
    letter-spacing: 1px
}

.register a {
    color:#7ed56f !important;
    cursor: pointer;
}

form {
    margin-top:4rem;
}
